{% extends 'list.html' %}
{% load static %}

{% block head_list %}

<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

<script src="{% static 'parte/js/form.js' %}"></script>



{% endblock %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            {% if action == 'add' %}
            <i class="fas fa-plus"></i>
            {% else %}
            <i class="fas fa-edit"></i>
            {% endif %}
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- ORDENES DE PRODUCCION -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Órdenes de producción - IMPRESORA 6 </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="card-refresh"
                                    data-source="widgets.html" data-source-selector="#card-refresh-content"
                                    data-load-on-init="false">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button> -->
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- The body of the card -->
                            <table class="table table-bordered" id="tblOrdenes">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 15%;">Opciones</th>
                                        <th scope="col" style="width: 15%;">Nro. Orden</th>
                                        <th scope="col" style="width: 10%;">Pedido de venta</th>
                                        <th scope="col" style="width: 10%;">Ficha</th>
                                        <th scope="col" style="width: 20%;">Nombre</th>
                                        <th scope="col" style="width: 20%;">Fecha de entrega</th>
                                        <th scope="col" style="width: 10%;">Producir</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- FIN ORDENES DE PRODUCCION -->
                <!-- REGISTRO DEMORAS Y OBSERVACIONES -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Registro demoras y observaciones </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="card-refresh"
                                    data-source="widgets.html" data-source-selector="#card-refresh-content"
                                    data-load-on-init="false">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button> -->
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- The body of the card -->
                            <!-- DATATABLE DEMORAS -->
                            <!-- CAMBIO MECANICO -->
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas btn-lg fa-exchange-alt"></i> CAMBIO
                                        MECÁNICO </h3>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <table class="table table-bordered" id="tblCambios">
                                        <thead>
                                            <tr>
                                                <th>Opciones</th>
                                                <th>Fecha inicio</th>
                                                <th>Demora</th>
                                                {{ form.parada }}
                                                <th>Fecha fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- FIN CAMBIO MECANICO -->
                            <!-- SETUP -->
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-users-cog"></i> RM.AC.AP (Setup) </h3>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <table class="table table-bordered" id="tblSetup">
                                        <thead>
                                            <tr>
                                                <th>Fecha inicio</th>
                                                <th>Demora</th>
                                                <th>Fecha fin</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- FIN SETUP -->
                            <!-- PRODUCCION -->
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-print"></i> PRODUCCIÓN </h3>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <table class="table table-bordered" id="tblProduccion">
                                        <thead>
                                            <tr>
                                                <th>Fecha inicio</th>
                                                <th>Demora</th>
                                                <th>Fecha fin</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- FIN PRODUCCION -->
                            <!-- OBSERVACIONES GENERALES -->
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-edit"></i> OBSERVACIONES GENERALES </h3>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <table class="table table-bordered" id="tblObsGles">
                                        <thead>
                                            <tr>
                                                <th>Fecha inicio</th>
                                                <th>Observación</th>
                                                <th>Fecha fin</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- FIN OBSERVACIONES GENERALES -->
                            <!-- OBSERVACIONES MANTENIMIENTO -->
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-tools"></i> OBSERVACIONES MANTENIMIENTO
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <table class="table table-bordered" id="tblMantenimiento">
                                        <thead>
                                            <tr>
                                                <th>Usuario mantenimiento</th>
                                                <th>Fecha</th>
                                                <th>Observación</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- FIN OBSERVACIONES MANTENIMIENTO -->
                            <!-- /.card -->
                        </div>
                        <!-- FIN REGISTRO DEMORAS Y OBSERVACIONES -->
                    </div>
                </div>
                <!-- FIN REGISTRO DEMORAS Y OBSERVACIONES -->
                <!-- PARTE DE PRODUCCION -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Parte diario </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="card-refresh"
                                            data-source="widgets.html" data-source-selector="#card-refresh-content"
                                            data-load-on-init="false">
                                            <i class="fas fa-sync-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                            <i class="fas fa-expand"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button> -->
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <!-- The body of the card -->
                                    <!-- DATATABLE PARTE DE PRODUCCION -->
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title"> Parte de producción
                                                y de impresión
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <hr>
                                            <h2>
                                                Ficha técnica
                                                {{ form.ordenes.pedido_venta.fichaTecnica }}
                                            </h2>
                                            <table class="table table-bordered" id="tblParteCabecera">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Supervisor
                                                            {{ form.supervisor }}
                                                        </th>
                                                        <th>
                                                            1er Ayudante
                                                            {{ form.ayudante1ero}}
                                                        </th>
                                                        <th>
                                                            2do ayudante
                                                            {{ form.ayudante2do }}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-body">
                                            <hr>
                                            <table class="table table-bordered" id="tblParteCuerpo">
                                                <thead>
                                                    <tr>
                                                        <th>Kg. a producir</th>
                                                        <th>Kg. a producidos</th>
                                                        <th>Mts. a producir</th>
                                                        <th>Mts. a producidos</th>
                                                        <th>Kg. registro</th>
                                                        <th>Mts. registro</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- FIN PARTE DE PRODUCCION -->
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-flat btnTest">
            <i class="fas fa-save"></i> Guardar registro
        </a>
        <a href="{{ list_url }}" class="btn btn-danger btn-flat">
            <i class="fas fa-times"></i></button> Cancelar
        </a>
    </div>
</div>

{% endblock %}